/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00008B;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.btn-contato :hover{
    animation-duration: 0.5s;
    color: white;
    border: 0;
    border-radius: 30px;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00008B;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00008B;
    transform: scale(1.05);
}

/* ESTILO DA LOGO HEADER*/
.logoh{
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem seja um bloco */
    margin: 0; /* Remove margens automáticas */
    border-radius: 50%; /* Faz a imagem ficar em formato de círculo */
    object-fit: cover; /* Garante que a imagem se ajuste bem dentro do círculo */
}


/* ESTILO DA LOGO FOOTER*/
.footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 20px 0; /* Espaçamento interno do rodapé */
    width: 100%; /* Faz o rodapé ocupar toda a largura da página */
    bottom: 0; /* Alinha o rodapé na parte inferior */
}

.line-footer {
    padding: 10px 0; /* Espaçamento entre as linhas do rodapé */
}

.line-footer.borda {
    border-top: 1px solid #444; /* Linha de borda superior para separação */
    margin-top: 10px; /* Espaçamento superior para separar das outras seções */
    text-align: center; /* Centraliza o conteúdo dentro da linha */
}

.flex {
    display: flex; /* Usa flexbox para organizar os itens em linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
}

.logo {
    display: flex; /* Usa flexbox para organizar os itens em linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
}

.logof {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste a altura para ser igual à largura para garantir um círculo perfeito */
    display: block; /* Garante que a imagem seja um bloco */
    margin: 0; /* Remove margens automáticas */
    border-radius: 50%; /* Faz a imagem ficar em formato de círculo */
    object-fit: cover; /* Garante que a imagem se ajuste bem dentro do círculo */
}

.logo-text {
    margin-left: 10px; /* Espaçamento entre a logo e o texto */
    font-size: 16px; /* Tamanho da fonte, ajuste conforme necessário */
    color: #fff; /* Ajusta a cor do texto para branco */
}

.line-footer.borda p {
    display: flex; /* Usa flexbox para organizar os itens em linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente no centro */
    margin: 0; /* Remove a margem padrão do parágrafo */
    font-size: 14px; /* Tamanho da fonte do texto */
}

.line-footer.borda p i {
    color: #fff; /* Ajusta a cor do ícone para branco */
    margin-right: 5px; /* Adiciona espaço entre o ícone e o texto */
}

.line-footer.borda p a {
    color: #fff; /* Ajusta a cor do link para branco */
    text-decoration: none; /* Remove sublinhado do link */
}

.line-footer.borda p a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao link quando em hover */
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

/* ESTILO DO MENU MOBILE */

/* Estilo geral para o menu */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin-right: 20px;
}

.menu-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/* Estilo para o ícone do menu (xícara de café) */
.menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .menu-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
    }

    .menu-list li {
        margin: 0;
        border-bottom: 1px solid #444;
    }

    .menu-list li a {
        padding: 10px;
        display: block;
    }

    .menu-toggle {
        display: block;
    }
}

/* Estilo para mostrar o menu quando o ícone do menu é clicado */
.menu.active .menu-list {
    display: flex;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #fff;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* ESTILO DAS ESPECIALIDADES */
section.especiliadades {
    padding: 40px 4%;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #00008B;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00008B;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00008B;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00008B;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

.btn-enviar :hover{
    animation-duration: 0.5s;
    color: white;
    border: 0;
    border-radius: 30px;
}

/* ESTILO DO RODAPÉ */

footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #00008B;
}

footer .line-footer p i {
    color: #00008B;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

@media screen and (max-width: 1020px) {

    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site h1 {
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img {
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especiliadades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }
    
    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 30%;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
    section.portfolio .flex {
       gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}
