/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    height: 100vh;
    color: #fff; /* Cor do texto padrão */
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #00008B;
}

button:hover,
form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #00008B;
    transform: scale(1.05);
}

.logoh {
    width: 100px; /* Largura do círculo */
    height: 100px; /* Altura do círculo igual à largura para garantir a forma circular */
    border-radius: 50%; /* Faz a imagem ficar em formato de círculo */
    overflow: hidden; /* Garante que qualquer parte da imagem que ultrapasse o círculo seja escondida */
    display: flex; /* Usa flexbox para centralizar a imagem */
    align-items: center;
    justify-content: center;
}

.logoh img {
    width: 100%; /* Faz a imagem preencher o contêiner */
    height: 100%; /* Faz a imagem preencher o contêiner */
    object-fit: cover; /* Garante que a imagem se ajuste bem dentro do círculo */
}

/* ESTILO DA LOGO FOOTER */
.footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 20px 0; /* Espaçamento interno do rodapé */
    width: 100%; /* Faz o rodapé ocupar toda a largura da página */
    bottom: 0; /* Alinha o rodapé na parte inferior */
}

.line-footer {
    padding: 10px 0; /* Espaçamento entre as linhas do rodapé */
}

.line-footer.borda {
    border-top: 1px solid #444; /* Linha de borda superior para separação */
    margin-top: 10px; /* Espaçamento superior para separar das outras seções */
    text-align: center; /* Centraliza o conteúdo dentro da linha */
}

.flex {
    display: flex; /* Usa flexbox para organizar os itens em linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
}

.logo {
    display: flex; /* Usa flexbox para organizar os itens em linha */
    align-items: center; /* Alinha verticalmente os itens no centro */
}

.logof {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: 100px; /* Ajuste a altura para ser igual à largura para garantir um círculo perfeito */
    display: block; /* Garante que a imagem seja um bloco */
    margin: 0; /* Remove margens automáticas */
    border-radius: 50%; /* Faz a imagem ficar em formato de círculo */
    object-fit: cover; /* Garante que a imagem se ajuste bem dentro do círculo */
}

.logo-text {
    margin-left: 10px; /* Espaçamento entre a logo e o texto */
    font-size: 16px; /* Tamanho da fonte, ajuste conforme necessário */
    color: #fff; /* Ajusta a cor do texto para branco */
}

.line-footer.borda p {
    display: flex; /* Usa flexbox para organizar os itens em linha */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente no centro */
    margin: 0; /* Remove a margem padrão do parágrafo */
    font-size: 14px; /* Tamanho da fonte do texto */
}

.line-footer.borda p i {
    color: #fff; /* Ajusta a cor do ícone para branco */
    margin-right: 5px; /* Adiciona espaço entre o ícone e o texto */
}

.line-footer.borda p a {
    color: #fff; /* Ajusta a cor do link para branco */
    text-decoration: none; /* Remove sublinhado do link */
}

.line-footer.borda p a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao link quando em hover */
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 20px 4%;
    background-color: #000; /* Fundo da navbar */
    color: #fff; /* Cor do texto */
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo a img {
    width: 80px; /* Ajuste o tamanho conforme necessário */
}

header nav {
    display: flex;
    align-items: center;
}

header nav.menu-desktop {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Alinha verticalmente ao centro (opcional) */
    height: 60px; /* Ajuste conforme necessário para a altura da navegação */
    padding: 0 20px; /* Espaçamento interno */
}

header nav.menu-desktop ul {
    display: flex;
    list-style: none; /* Remove marcadores de lista */
    padding: 0; /* Remove padding padrão */
    margin: 0; /* Remove margin padrão */
}

header nav.menu-desktop ul li {
    margin: 0 15px; /* Espaçamento entre os itens */
}

header nav.menu-desktop a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s;
}

header nav.menu-desktop a:hover {
    color: #00008B; /* Cor ao passar o mouse */
}

/* Ocultar o menu padrão */
header nav.menu-mobile {
    display: none;
}

/* Estilo do botão de menu móvel */
.menu-mobile-button {
    position: fixed; /* Fixo na tela */
    top: 20px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    z-index: 1001; /* Certificar-se de que o botão esteja acima de outros conteúdos */
}

/* MENU MOBILE */
.menu-mobile-nav {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fixo na tela */
    top: 60px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    background-color: #000;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Abaixo do botão de menu */
    transition: 0.5s; /* Transição suave */
}

/* Lista de itens do menu móvel */
.menu-mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo dos itens do menu móvel */
.menu-mobile-nav ul li {
    padding: 15px;
}

/* Links do menu móvel */
.menu-mobile-nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Alterar a cor do fundo dos links ao passar o mouse */
.menu-mobile-nav ul li a:hover {
    background-color: #00008B; /* Azul escuro para o hover */
}

/* Estilo do menu lateral */
.sidenav {
    height: 100%; /* Altura total */
    width: 0; /* Largura inicial */
    position: fixed; /* Fixo na tela */
    z-index: 1000; /* Manter acima dos outros conteúdos */
    top: 0;
    left: 0;
    background-color: #000; /* Preto */
    overflow-x: hidden; /* Desativar rolagem horizontal */
    padding-top: 60px;
    transition: 0.5s; /* Transição suave */
    opacity: 0.75;
}

/* Links do menu lateral */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

/* Alterar a cor dos links ao passar o mouse */
.sidenav a:hover {
    color: #00008B;
}

/* Estilo do botão de fechar no menu lateral */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Ajustes de responsividade */
@media screen and (max-width: 768px) {
    .menu-desktop {
        display: none; /* Ocultar menu desktop em dispositivos móveis */
    }

    .menu-mobile {
        display: block; /* Mostrar menu móvel */
    }
}

@media screen and (max-width: 480px) {
    header {
        padding: 10px 2%;
    }

    header nav.menu-desktop ul li {
        margin: 0 10px;
    }

    header nav.menu-desktop a {
        font-size: 14px;
    }

    .btn-contato button {
        padding: 8px 30px;
        font-size: 16px;
    }
}

.menu-mobile-nav.active {
    display: block; /* Mostrar o menu móvel quando ativo */
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #fff;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

/* ESTILO DAS ESPECIALIDADES */
section.especiliadades {
    padding: 40px 4%;
}

section.especiliadades .flex {
    gap: 60px;
}

.especiliadades .especialidades-box {
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especiliadades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}

.especiliadades .especialidades-box i {
    font-size: 70px;
    color: #00008B;
}

.especiliadades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 80px 4%;
}

section.sobre .flex {
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
}

.sobre .txt-sobre h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
    color: #00008B;
    display: block;
}

.sobre .txt-sobre p {
    margin: 20px 0;
    text-align: justify;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #00008B;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}

.btn-social button:hover {
    color: white;
    box-shadow: 0px 0px 8px #00008B;
    transform: scale(1.05);
}

.no-underline {
    text-decoration: none; /* Remove sublinhado */
    color: inherit; /* Mantém a cor do texto herdada */
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario {
    padding: 80px 4%;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input,
form textarea {
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 200px;
}

form .btn-enviar {
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input {
    width: 120px;
    background-color: #00008B;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

.btn-enviar input:hover {
    color: white;
    box-shadow: 0px 0px 8px #00008B;
    transform: scale(1.05);
}

@keyframes flutuar {
    0% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(10px);
    }
}

/* ESTILO RESPONSIVO */
@media (max-width: 768px) {

    .menu-desktop {
        display: none; /* Oculta o menu desktop em telas pequenas */
    }

    header .menu-desktop {
        display: none;
    }

    header .menu-mobile {
        display: block;
    }

    header .menu-mobile-nav {
        display: block;
    }

    .menu-mobile-nav ul {
        display: flex;
        flex-direction: column;
    }

    .menu-mobile-nav ul li {
        padding: 10px;
    }
}
